frontend/node_modules
frontend/package-lock.json
frontend/.idea
frontend/.vscode

ProfitabilityCalculatorBackend/.idea
ProfitabilityCalculatorBackend/ProfitabilityCalculator/bin
ProfitabilityCalculatorBackend/ProfitabilityCalculator/obj
ProfitabilityCalculatorBackend/ProfitabilityCalculator.Contracts/bin
ProfitabilityCalculatorBackend/ProfitabilityCalculator.Contracts/obj
ProfitabilityCalculatorBackend/ProfitabilityCalculator.Tests/bin
ProfitabilityCalculatorBackend/ProfitabilityCalculator.Tests/obj

profitability-e2e-testing/node_modules
profitability-e2e-testing/package-lock.json
profitability-e2e-testing/.idea
profitability-e2e-testing/.vscode
/ProfitabilityCalculatorMobile/.idea/
/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/bin/
/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/obj/
/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile.Droid/bin/
/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile.Droid/obj/
/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile.iOS/bin/
/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile/ProfitabilityCalculatorMobile.iOS/obj/
