frontend/node_modules
frontend/package-lock.json
frontend/.idea
frontend/.vscode

ProfitabilityCalculatorBackend/.idea
ProfitabilityCalculatorBackend/ProfitabilityCalculator/bin
ProfitabilityCalculatorBackend/ProfitabilityCalculator/obj
ProfitabilityCalculatorBackend/ProfitabilityCalculator.Contracts/bin
ProfitabilityCalculatorBackend/ProfitabilityCalculator.Contracts/obj